:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --header-color: #020202;
  --text-color: #080808;
  --main-color: #018d6c;
  --light-main-color: #00ad85;
  --dim-main-color: #006e55;
  --gray-color: #2f2f2f;
  --input-color: #006e5580;
  --bg-color: #f8f8f8;
  --light-bg-color: #e8e8e8;
  --lighter-bg-color: #dedede;
  --lightest-bg-color: #d1d1d1ff;
  --fail-color: #a52100;


  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  overflow-x: hidden;
  scrollbar-width: none;
}

.invis {
  scale: 0;
  position: fixed;
}

input, textarea {
  touch-action: manipulation;
}

.headerRow {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  box-sizing: border-box;
  align-items: center;
  color: var(--header-color);
}

.main {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: 0px;
  -ms-overflow-style: none;
  box-sizing: border-box;
  scrollbar-width: none;           /* Firefox */
  -ms-overflow-style: none;
}

.error {
    width: 100%;
    height: 100%;
    place-content: center;
    place-items: center;
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    flex-direction: column;
}

.error h1 {
    font-size: 30px;
    margin: 0px;
    color: var(--header-color);
}

.error p {
    font-size: 20px;
    margin: 0px;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header-color);
}

@media print {
  @page {
    margin: 20px;
  }

  .noPrint {
    display: none !important;
  }
  body * {
    visibility: hidden;
  }

  .main#print, .main#print * {
    visibility: visible;
    color: black;
    border-color: black;
  }

  .main#print {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  .timeDisplay {
    height: 100%;
    zoom: 0.9 !important;
  }

  .timeRow,
  .apptArea {
    height: 100%;
  }

  .timeBox {
    height: 100%;
  }

  h3 {
    margin: 0px !important;
  }
}
